{% extends "basebt4.html" %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
    <h1>用户登录</h1>
    <form method="post" >
        {{ form.csrf_token() }}
        {{ render_field(form.username, form_type="horizontal", horizontal_columns=('lg',1,1.5)) }}
        {{ render_field(form.password, form_type="horizontal", horizontal_columns=('lg',1,1.5)) }}
        {{ render_field(form.submit, form_type="horizontal", horizontal_columns=('lg',0.5,1)) }}
        <!--<p>-->
            <!--{{ form.username.label }}<br>-->
            <!--{{ form.username(size=32)}}<br>-->
            <!--{% for error in form.username.errors %}-->
            <!--<span style="color: red;">[{{ error }}]</span>-->
            <!--{% endfor %}-->
        <!--</p>-->
        <!--<p>-->
            <!--{{ form.password.label}}<br>-->
            <!--{{ form.password(size=32)}}<br>-->
            <!--{% for error in form.password.errors %}-->
            <!--<span style="color:red;">[{{ error }}]</span>-->
            <!--{% endfor %}-->
        <!--</p>-->
        <!--<p>-->
            <!--{{ form.remember_me()}}-->
            <!--{{ form.remember_me.label}}-->
        <!--</p>-->
        <!--<p>{{ form.submit()}}</p>-->
        <p>
            新用户？ <a href="{{ url_for('register') }}">点击注册</a>
            忘记密码？ <a href="{{ url_for('reset_password_request') }}">重置密码</a>
        </p>
    </form>
{% endblock %}