{% extends 'basebt4.html' %}
{% from 'bootstrap/form.html' import render_field %}
{% block content %}
    <h1>用户注册</h1>
    <form method="post">
        {{ form.csrf_token() }}
        {{ render_field(form.username, form_type="horizontal",horizontal_columns=('lg',1,1.5)) }}
        {{ render_field(form.email, form_type="horizontal", horizontal_columns=('lg',1,1.5)) }}
        {{ render_field(form.password, form_type="horizontal", horizontal_columns=('lg',1,1.5)) }}
        {{ render_field(form.password2, form_type="horizontal", horizontal_columns=('lg',1,1.5)) }}
        {{ render_field(form.submit, form_type="horizontal", horizontal_columns=('lg',1,1.5)) }}
        <!--{{ form.hidden_tag() }}-->
        <!--<p>-->
            <!--{{ form.username.label }}<br>-->
            <!--{{ form.username(size=32) }}<br>-->
            <!--{% for error in form.username.errors %}-->
            <!--<span style="color:red;">{{ error }}</span>-->
            <!--{% endfor %}-->
        <!--</p>-->
        <!--<p>-->
            <!--{{ form.email.label }}<br>-->
            <!--{{ form.email(size=32) }}<br>-->
            <!--{% for error in form.email.errors %}-->
            <!--<span style="color:red;">{{ error }}</span>-->
            <!--{% endfor %}-->
        <!--</p>-->
        <!--<p>-->
            <!--{{ form.password.label }}<br>-->
            <!--{{ form.password(size=32) }}<br>-->
            <!--{% for error in form.password.errors %}-->
            <!--<span style="color:red;">{{ error }}</span>-->
            <!--{% endfor %}-->
        <!--</p>-->
        <!--<p>-->
            <!--{{ form.password2.label }}<br>-->
            <!--{{ form.password2(size=32) }}<br>-->
            <!--{% for error in form.password2.errors %}-->
            <!--<span style="color:red;">{{ error }}</span>-->
            <!--{% endfor %}-->
        <!--</p>-->
        <!--<p>{{ form.submit() }}</p>-->
    </form>
{% endblock %}