{% extends 'basebt4.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block content %}
<form  method="post">
    {{ form.csrf_token() }}
    {{ form.render_field(form.password, form_type="horizontal",horizontal_columns=('lg',1,1.5)) }}
    {{ form.render_field(form.password2, form_type="horizontal",horizontal_columns=('lg',1,1.5)) }}
    {{ from.render_field(form.submit, form_type="horizontal",horizontal_columns=('lg',1,1.5)) }}
    {{ form.hidden_tag() }}
    <!--<p>-->
        <!--{{ form.password.label }}-->
        <!--{{ form.password(size=64) }}-->
        <!--{% for error in form.password.errors %}-->
        <!--<span style="color:red;">{{ error }}</span>-->
        <!--{% endfor %}-->
    <!--</p>-->
    <!--<p>-->
        <!--{{ form.password2.label }}-->
        <!--{{ form.password2(size=64) }}-->
        <!--{% for error in form.password2.errors %}-->
        <!--<span style="color:red;">{{ error }}</span>-->
        <!--{% endfor %}-->
    <!--</p>-->
    <!--<p>{{ form.submit()}}</p>-->

</form>
{% endblock　％｝