{% extends 'basebt4.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block content %}
<table>
    <tr valign="top">
        <td><img src="{{ user.avator(80) }}"></td>
        <td>
            <h1>用户：{{ user.username }}</h1>
            {% if user.about_me: %}
            <p>{{ user.about_me }}</p>
            {% endif %}
            {% if user.last_seen %}
            <p>用户最后登录时间: {{ moment(user.last_seen).format('LLL') }}</p>
            {% endif %}
            {% if user == current_user: %}
            <p><a href="{{ url_for('edit_profile') }}">编辑个人信息</a></p>
            {% elif not current_user.is_following(user) %}
            <p><a href="{{ url_for('follow', username=user.username) }}">关注</a></p>
            {% else %}
            <p><a href="{{ url_for('unfollow', username=user.username) }}">取消关注</a></p>
            {% endif %}
        </td>

    </tr>
</table>
{% include '_post.html' %}
{{ render_pagination(pagination, prev='上一页', next='下一页', align='center')}}
<!--{% if prev_url %}-->
<!--<a href="{{ prev_url }}">上一页</a>-->
<!--{% endif %}-->
<!--{% if next_url %}-->
<!--<a href="{{ next_url }}">下一页</a>-->
<!--{% endif %}-->
{% endblock %}